@font-face {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
  /* Preferred icon size */
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

@font-face {
  font-family: 'SegoeUIRegular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SegoeUIRegular.eot');
  src: url('../fonts/SegoeUIRegular.woff') format('woff'), url('../fonts/SegoeUIRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'SegoeUIBold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SegoeUIBold.eot');
  src: url('../fonts/SegoeUIBold.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUIBold.woff') format('woff'), url('../fonts/SegoeUIBold.ttf') format('truetype');
}

html {
  font-size: 10px;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PFDinDisplay', sans-serif;
  font-size: 1rem;
  color: #eaeaea;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
  margin: 0 !important;
}

a {
  color: inherit;
}

p {
  -webkit-margin-before: .3em;
  -webkit-margin-after: .3em;
}

.mainContainer {
  font-family: 'SegoeUIRegular',  Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  background: #007e8a;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background: url('../img/bg.jpg') 70% no-repeat;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  min-height: 55px;
  background-size: cover;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 130px;
  height: 30px;
  background: url('../img/logo.png') center no-repeat;
  background-size: contain;
}

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__text {
  font-size: 1.5rem;
  text-align: center;
}

.slogan {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10px;
  min-height: 10px;
  background-color: #434d57;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.slogan__title {
  font-size: 1.4rem;
  text-align: center;
}

.slogan__triangle {
  position: absolute;
  top: 99%;
  left: 44%;
  width: 0;
  height: 0;
  border-width: 20px 25px 0 25px;
  border-style: solid;
  border-color: #434d57 transparent transparent transparent;
}

.face {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30%;
  background-color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.face__wrapper {
  width: 100%;
  height: 80%;
  background: url('../img/production-shadow.png') center no-repeat;
  background-size: contain;
}

.mediaEmptySpaces {
  width: 100%;
  height: 10%;
  background: #fff;
}

.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 160px;
  color: #434d57;
  background-color: #fff;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__title {
  font-size: 1.2rem;
  color: #434d57;
}

.advantages__textWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.advantages__text {
  margin-bottom: 2%;
  list-style: none;
}

.icon__done {
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 3px;
  padding-top: 0;
  color: #00464a;
}

.advantages__text-bold {
  font-size: 1.5rem;
}

.subscribe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 86%;
  height: 30px;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
  text-decoration: none;
  border-right: 1px solid rgba(0, 0, 0, .15);
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  border-radius: 4px;
  background-color: #5ead23;
  -webkit-box-shadow: inset 3px 5px 20px 6px rgba(191, 255, 191, .52);
          box-shadow: inset 3px 5px 20px 6px rgba(191, 255, 191, .52);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__link:hover {
  -webkit-transition: box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -webkit-transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
  -webkit-box-shadow: inset 2px -6px 20px 6px rgba(60, 78, 60, .25);
          box-shadow: inset 2px -6px 20px 6px rgba(60, 78, 60, .25);
}

.subscribe__link:active {
  -webkit-transition: -webkit-box-shadow .2s linear;
  -webkit-transition: box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
  -webkit-box-shadow: inset 0 0 13px 6px rgba(47, 53, 47, .37);
  box-shadow: inset 0 0 13px 6px rgba(47, 53, 47, .37);
}

.subscribe__title {
  font-size: 22px !important;
  color: #fff;
  -webkit-margin-before: 5em;
  -webkit-margin-after: 5em;
}

.price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  color: #3c3f41;
  background-color: #fff;
  -webkit-box-flex: .6;
  -webkit-flex: .6;
      -ms-flex: .6;
          flex: .6;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__text {
  font-size: 18px !important;
}

.emptySpaces {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#template-caption-pilot span {
  font-family: Arial !important;
  font-size: 10px;
}

#template-caption-pilot span a {
  text-decoration: underline;
}

.hide__content {
  display: none;
}

.hideBR {
  display: none;
}

.footer__text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hideBRiPad {
  display: none;
}

/* ============ CAPTCHA ============ */

.captcha-container {
  color: #2B2B2B;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5%;
  font-size: 1.2rem;
}

.captcha__inputForm {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.captcha__inputWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
}

@media screen and (min-width: 300px) and (orientation: portrait) {
  .slogan__title {
    font-size: 0;
  }

  .slogan {
    -webkit-box-flex: .2;
    -webkit-flex: .2;
        -ms-flex: .2;
            flex: .2;
  }

  .advantages {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: .5;
    -webkit-flex: .5;
        -ms-flex: .5;
            flex: .5;
  }

  .mediaEmptySpaces {
    display: none;
  }

  .face {
    height: 190px;
  }

  .slogan__triangle {
    border-width: 12px 25px 0 25px;
  }

  .subscribe__link {
    font-size: 22px;
    height: 90%;
  }

  .price {
    -webkit-box-flex: 1.6;
    -webkit-flex: 1.6;
        -ms-flex: 1.6;
            flex: 1.6;
  }

  .hideBR {
    display: block;
  }
}

@media all and (min-width: 320px) and (orientation: landscape) {
  .mainContainer {
    height: 320px;
  }

  .header {
    -webkit-box-flex: .6;
    -webkit-flex: .6;
        -ms-flex: .6;
            flex: .6;
  }

  .title__text {
    width: 380px;
  }

  .title__text {
    font-size: 1.7rem;
  }

  .slogan__title {
    font-size: 0;
  }

  .advantages {
    height: 95px;
  }

  .subscribe {
    height: 30px;
  }

  .slogan__triangle {
    border-width: 4px 25px 0 25px;
  }

  .face {
    height: 230px;
  }

  .face__wrapper {
    height: 65%;
  }

  .mediaEmptySpaces {
    -webkit-box-flex: .4;
    -webkit-flex: .4;
        -ms-flex: .4;
            flex: .4;
  }

  .subscribe {
    padding-top: 4px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .price {
    height: 50px;
  }

  .emptySpaces {
    height: 70px;
  }
}

@media screen and (min-width: 370px) and (orientation: landscape) {
  .mainContainer {
    height: 100%;
  }

  .subscribe__link {
    height: 120%;
  }

  .slogan__triangle {
    border-width: 13px 25px 0 25px;
  }

  .face {
    height: 170px;
  }

  .face__wrapper {
    height: 75%;
  }

  .advantages__item {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 370px) and (orientation: portrait) {
  html,
  body {
    height: 100%;
  }

  .header {
    height: 100px;
  }

  .logo {
    height: 45px;
  }

  .title__text {
    font-size: 2rem;
  }

  .face {
    height: 180px;
  }

  .advantages__item {
    font-size: 1.3rem;
  }

  .emptySpaces {
    padding-top: 5%;
  }
}

@media screen and (min-width: 410px) and (orientation: portrait) {
  .face {
    height: 200px;
  }

  .emptySpaces {
    padding-top: 20%;
  }
}

@media screen and (min-width: 660px) and (orientation: landscape) {
  .mainContainer {
    height: 100%;
  }

  .header {
    height: 75px;
  }

  .logo {
    height: 45px;
  }

  .title__text {
    font-size: 2rem;
  }

  .mediaEmptySpaces {
    display: none;
  }

  .slogan__triangle {
    left: 47%;
  }

  .face {
    height: 140px;
  }

  .face__wrapper {
    height: 80%;
  }

  .advantages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 115px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advantages__text {
    margin-bottom: 0;
  }

  .subscribe {
    -webkit-box-flex: .7;
    -webkit-flex: .7;
        -ms-flex: .7;
            flex: .7;
  }

  .price {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (min-width: 700px) and (orientation: landscape) {
  .mainContainer {
    height: 100%;
  }

  .header {
    height: auto;
  }

  .title__text {
    font-size: 2rem;
  }

  .slogan__title {
    font-size: 1.5rem;
  }

  .advantages {
    height: 110px;
  }

  .advantages__title {
    font-size: 1.6rem;
  }

  .subscribe__title {
    font-size: 1.6rem;
  }

  .mediaEmptySpaces {
    display: none;
  }

  .slogan__triangle {
    border-width: 10px 25px 0 25px;
  }

  .subscribe {
    -webkit-box-flex: .5;
    -webkit-flex: .5;
        -ms-flex: .5;
            flex: .5;
  }

  .emptySpaces {
    height: 60px;
  }
}

@media screen and (min-width: 760px) and (orientation: portrait) {
  html {
    font-size: 14px;
  }

  html,
  body {
    height: 100%;
  }

  .container {
    background-size: cover;
  }

  .header {
    height: 150px;
  }

  .advantages__wrapper {
    font-size: 1.7rem;
  }

  .slogan__triangle {
    left: 48%;
  }



  .emptySpaces {
    font-size: 18px;
  }

  .logo {
    width: 40%;
    height: 80px;
  }

  .price {
    height: 35px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .hideBR {
    display: none;
  }

  .title {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header .title {
    width: 800px;
  }

  .title {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .title__text {
    font-size: 2rem;
  }

  .face {
    height: 335px;
  }

  .price {
    font-size: 20px;
    height: 70px;
  }

  .advantages {
    height: auto;
  }

  .hideBRiPad {
    display: block;
  }

  .emptySpaces {
    height: 128px;
    padding-top: 5%;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  html,
  body {
    height: 100%;
  }

  .header {
    background-size: cover;
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
  }

  .header .title {
    float: right;
    width: 610px;
  }

  .title {
    text-align: end;
  }

  .logo {
    float: left;
    width: 360px;
    height: 90px;
    margin-top: 15px;
  }

  .mediaEmptySpaces {
    display: block;
    height: 70px;
  }

  .face {
    height: 335px;
  }

  .face__wrapper {
    height: 90%;
  }

  .title__text {
    font-size: 3rem;
  }

  .slogan {
    height: 20px;
  }

  .subscribe {
    height: 50px;
    margin: 0 auto;
  }

  .subscribe__link {
    width: 800px;
    height: 40px;
  }

  .price {
    height: 40px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .advantages {
    height: auto;
    margin: 0 auto;
  }

  .advantages__textWrapper {
    margin: 0 auto;
  }

  .advantages__item {
    font-size: 2rem;
  }

  .emptySpaces {
    font-size: 18px;
    height: auto;
    position: absolute;
    bottom: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .captcha__inputForm {
    font-size: 1.7rem;
  }

  /*.advantages {
        height: auto;
    }

    .advantages__item
    {
        font-size: 2rem;
    }
    .face {
        width: 40%;
    }*/
}

@media screen and (min-width: 1000px) and (orientation: portrait) {
  html {
    font-size: 17px;
  }

  html,
  body {
    height: 100%;
  }

  .header {
    height: auto;
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .logo {
    width: 40%;
    height: 80px;
  }

  .face {
    height: 390px;
    width: 40%;
  }

  .price {
    height: 50px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .advantages {
    height: auto;
  }

  .hideBR {
    display: none;
  }

  .title {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .emptySpaces {
    height: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .header .title {
    width: 800px;
  }

  .header {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    height: auto;
  }

  .title {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .title__text {
    font-size: 3.5rem;
  }

  .slogan__title {
    font-size: 1.8rem;
  }

  .slogan {
    height: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
  }

  .face {
    height: 340px;
  }

  .price {
    font-size: 20px;
    height: 70px;
  }

  .advantages {
    height: auto;
  }

  .advantages__item {
    font-size: 2.2rem;
  }

  .hideBRiPad {
    display: block;
  }

  .emptySpaces {
    height: auto;
    width: 86%;
    padding-left: 5%;
  }
}

@media screen and (min-width: 1400px) {

}